<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@drawable/pet_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="寵愛一生"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Pet_strayData"
            android:label="動物資訊˙(     \*/   )˙"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Pet_produce_select"
            android:label="樣式選擇"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".pet1"
            android:label="此地區中一動物(更多請按上頁''更多')"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".pet2"
            android:label="此地區中一動物(更多請按上頁''更多')"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".pet3"
            android:label="此地區中一動物(更多請按上頁''更多')"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".pet4"
            android:label="此地區中一動物(更多請按上頁''更多')"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".pet5"
            android:label="此地區中一動物(更多請按上頁''更多')"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".pet6"
            android:label="此地區中一動物(更多請按上頁''更多')"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".pet7"
            android:label="此地區中一動物(更多請按上頁''更多')"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>